# Dependencies
node_modules
.pnp
.pnp.js
.npm

# Testing
coverage

# Production
dist

# Misc
.DS_Store
.AppleDouble
.LSOverride

# Logging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs

# IDE
.idea

# Runtime data
pids
*.pid
*.seed

# Lint
.eslintcache

# App data
.docker
